@model Signin
@{
    ViewBag.Title = "Signin";
}

<div class="sufee-login d-flex align-content-center flex-wrap" id="app">
    <div class="container">
        <div class="login-content">
            @Html.Partial("_Logo")
            <div class="login-form">
                @using (Html.BeginForm())
                {
                    <div class="form-group">
                        @Html.LabelFor(m => m.email)
                        @Html.TextBoxFor(m => m.email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.email, null, new { @class = "invalid-feedback" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.password)
                        @Html.PasswordFor(m => m.password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.password, null, new { @class = "invalid-feedback" })
                    </div>

                    if (ViewData.ModelState.Keys.Any(m => m.Equals("Exception")))
                    {
                        <div class="alert alert-danger">
                            <i class="fa fa-warning"></i> @Html.ValidationMessage("Exception")
                        </div>
                    }

                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(m => m.remember) Remember Me
                        </label>
                        <label class="pull-right">
                            @Html.ActionLink("Forgotten Password?", "ForgotPassword")
                        </label>
                    </div>

                    <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30 my-2">
                        Sign in
                    </button>

                    <div class="register-link m-t-15 text-center">
                        <p>Don't have account ? @Html.ActionLink("Sign Up Here", "Signup")</p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        new Vue({
            el: "#app",
            data: {}
        });
    </script>
}